In [1]:
import pandas as pd
import numpy as np

In [2]:
gen5_stats_df = pd.read_csv(r"dataset/bulbagarden/pokemon_gen5_stats.csv")
gen5_stats_df

,Pokedex number,Name,HP,Attack,Special Attack,Defense,Special Defense,Speed,Stat total,Stat average
0,1,Bulbasaur,45,49,49,65,65,45,318,53.00
1,2,Ivysaur,60,62,63,80,80,60,405,67.50
2,3,Venusaur,80,82,83,100,100,80,525,87.50
3,4,Charmander,39,52,43,60,50,65,309,51.50
4,5,Charmeleon,58,64,58,80,65,80,405,67.50
...,...,...,...,...,...,...,...,...,...,...
665,647,Keldeo,91,72,90,129,90,108,580,96.67
666,647,Keldeo-Resolute,91,72,90,129,90,108,580,96.67
667,648,Meloetta,100,77,77,128,128,90,600,100.00
668,648,Meloetta-Pirouette,100,128,90,77,77,128,600,100.00
669,649,Genesect,71,120,95,120,95,99,600,100.00

In [3]:
gen5ou_df = pd.read_csv(r"dataset/showdown/showdown.csv")
gen5ou_df

,BattleTag,Name,Elo,Pokemon1,Pokemon2,Pokemon3,Pokemon4,Pokemon5,Pokemon6,LeadPokemon,BattleLength,Outcome
0,gen5ou-1000949555.log,HaxerShouldAllDie,1443,Infernape,Breloom,Tyranitar,Jellicent,Bronzong,Reuniclus,Infernape,24,Loser
1,gen5ou-1000956864.log,HaxerShouldAllDie,1365,Infernape,Breloom,Tyranitar,Jellicent,Bronzong,Reuniclus,Infernape,18,Loser
2,gen5ou-100157536.log,BigBadLeroyBrown,1306,Tyranitar,Alakazam,Latios,Ferrothorn,Landorus-Therian,Excadrill,Tyranitar,31,Winner
3,gen5ou-1001647389.log,testing4g4in,1488,Tyranitar,Amoonguss,Starmie,Alakazam,Heatran,Skarmory,Starmie,22,Loser
4,gen5ou-100171063.log,bossaru2,293,Tyranitar,Stoutland,Forretress,Salamence,Gliscor,Breloom,Breloom,24,Loser
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,gen5ou-996528128.log,phosphor display,1347,Excadrill,Tyranitar,Gastrodon,Tangrowth,Skarmory,Hydreigon,Tangrowth,10,Winner
4996,gen5ou-996530860.log,Machine Gun Dragon,1513,Alakazam,Garchomp,Gastrodon,Skarmory,Tyranitar,Gengar,Gengar,38,Winner
4997,gen5ou-996685781.log,Wishmence2003,1291,Tyranitar,Landorus-Therian,Slowking,Excadrill,Latios,Scizor,Slowking,25,Loser
4998,gen5ou-99696822.log,Level 56,291,Scizor,Latios,Tyranitar,Landorus-Therian,Terrakion,Magnezone,Tyranitar,24,Loser
4999,gen5ou-997600510.log,SkAm NEwToN,1382,Ninetales,Volcarona,Donphan,Jolteon,Dragonite,Gyarados,Donphan,23,Loser

In [4]:
pd.unique(pd.concat([gen5ou_df[f"Pokemon{i}"] for i in range(1, 7)], axis=0))

array(['Infernape', 'Tyranitar', 'Tornadus', 'Gengar', 'Toxicroak',
       'Skarmory', 'Victini', 'Hippowdon', 'Garchomp', 'Jellicent',
       'Politoed', 'Breloom', 'Ninetales', 'Bronzong', 'Alakazam',
       'Chansey', 'Abomasnow', 'Latios', 'Rotom-Wash', 'Ferrothorn',
       'Landorus-Therian', 'Scizor', 'Cofagrigus', 'Mamoswine', 'Starmie',
       'Lucario', 'Feraligatr', 'Dragonite', 'Aerodactyl', 'Latias',
       'Slaking', 'Floatzel', 'Amoonguss', 'Azelf', 'Blissey', 'Heatran',
       'Togekiss', 'Espeon', 'Thundurus-Therian', 'Terrakion', 'Porygon2',
       'Magnezone', 'Keldeo', 'Volcarona', 'Bisharp', 'Celebi', 'Jirachi',
       'Kyurem-Black', 'Excadrill', 'Rhyperior', 'Reuniclus', 'Umbreon',
       'Articuno', 'Froslass', 'Cloyster', 'Tentacruel', 'Metagross',
       'Yanmega', 'Staraptor', 'Gliscor', 'Hydreigon', 'Forretress',
       'Shelmet', 'Salamence', 'Zoroark', 'Heracross', 'Zapdos',
       'Seismitoad', 'Dusclops', 'Sharpedo', 'Gyarados', 'Sableye',
       'Slowbro', 'Sceptile', 'Keldeo-Resolute', 'Cresselia', 'Venusaur',
       'Haxorus', 'Golurk', 'Virizion', 'Nidoking', 'Cobalion', 'Mew',
       'Tangrowth', 'Weavile', 'Scrafty', 'Lapras', 'Electrode',
       'Garbodor', 'Moltres', 'Crobat', 'Xatu', 'Darmanitan', 'Gastrodon',
       'Dugtrio', 'Liepard', 'Jynx', 'Krookodile', 'Donphan', 'Pikachu',
       'Chandelure', 'Suicune', 'Stoutland', 'Slowking', 'Snorlax',
       'Quagsire', 'Shedinja', 'Conkeldurr', 'Riolu', 'Nidoqueen',
       'Shaymin', 'Blastoise', 'Jolteon', 'Clefable', 'Whimsicott',
       'Meloetta', 'Kyurem', 'Ambipom', 'Throh', 'Accelgor', 'Ditto',
       'Omastar', 'Magneton', 'Gallade', 'Mienshao', 'Honchkrow',
       'Azumarill', 'Whiscash', 'Lanturn', 'Roserade', 'Machamp',
       'Mesprit', 'Raikou', 'Milotic', 'Crawdaunt', 'Scyther', 'Rotom',
       'Cryogonal', 'Rampardos', 'Druddigon', 'Scolipede', 'Alomomola',
       'Hitmontop', 'Onix', 'Archeops', 'Hitmonlee', 'Poliwrath',
       'Registeel', 'Dodrio', 'Empoleon', 'Wobbuffet', 'Combusken',
       'Gothitelle', 'Marowak', 'Samurott', 'Smeargle', 'Arcanine',
       'Spiritomb', 'Uxie', 'Gastrodon-East', 'Sandslash', 'Vaporeon',
       'Kingdra', 'Mandibuzz', 'Charizard', 'Medicham', 'Glaceon',
       'Galvantula', 'Sigilyph', 'Porygon-Z', 'Typhlosion', 'Exeggutor',
       'Aggron', 'Rotom-Mow', 'Rotom-Heat', 'Musharna', 'Lombre',
       'Kabutops', 'Swampert', 'Koffing', 'Walrein', 'Diglett',
       'Zangoose', 'Flygon', 'Lilligant', 'Regirock', 'Ludicolo',
       'Victreebel', 'Probopass', 'Vanilluxe', 'Venomoth', 'Weezing',
       'Carracosta', 'Pelipper', 'Claydol', 'Volbeat', 'Shiftry',
       'Swanna', 'Eelektross', 'Serperior', 'Piloswine', 'Ursaring',
       'Lickilicky', 'Houndoom', 'Escavalier', 'Dratini', 'Hariyama',
       'Torkoal', 'Butterfree', 'Gorebyss', 'Ninjask', 'Miltank',
       'Shuckle', 'Electivire', 'Kadabra', 'Skuntank', 'Dragonair',
       'Rhydon', 'Aron', 'Mr. Mime', 'Cinccino', 'Sawsbuck', 'Mawile',
       'Drapion', 'Klinklang', 'Entei'], dtype=object)

In [ ]:
stats = ['HP', 'Attack', 'Special Attack', 'Defense', 'Special Defense', 'Speed']

for stat in stats:
    gen5ou_df[f'Avg_{stat}'] = 0

for row in gen5ou_df.itertuples():
    for i in range(1, 7):
        pkmn_name = gen5ou_df.at[row.Index, f"Pokemon{i}"]
        # print(pkmn_name)
        for stat in stats:
            stat_point = gen5_stats_df.loc[gen5_stats_df['Name'] == pkmn_name, stat].values[0]
            # print(f" {stat_point}")
            gen5ou_df.at[row.Index, f'Avg_{stat}'] += stat_point / 6
            
gen5ou_df.to_csv('filename.csv', index=False)

C:\Users\KURT\AppData\Local\Temp\ipykernel_27764\1453622303.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.666666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  gen5ou_df.at[row.Index, f'Avg_{stat}'] += stat_point / 6
C:\Users\KURT\AppData\Local\Temp\ipykernel_27764\1453622303.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '17.333333333333332' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  gen5ou_df.at[row.Index, f'Avg_{stat}'] += stat_point / 6
C:\Users\KURT\AppData\Local\Temp\ipykernel_27764\1453622303.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '11.833333333333334' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  gen5ou_df.at[row.Index, f'Avg_{stat}'] += stat_point / 6
C:\Users\KURT\AppData\Local\Temp\ipykernel_27764\1453622303.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '17.333333333333332' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  gen5ou_df.at[row.Index, f'Avg_{stat}'] += stat_point / 6
C:\Users\KURT\AppData\Local\Temp\ipykernel_27764\1453622303.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '11.833333333333334' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  gen5ou_df.at[row.Index, f'Avg_{stat}'] += stat_point / 6
C:\Users\KURT\AppData\Local\Temp\ipykernel_27764\1453622303.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '29.666666666666664' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  gen5ou_df.at[row.Index, f'Avg_{stat}'] += stat_point / 6

,BattleTag,Name,Elo,Pokemon1,Pokemon2,Pokemon3,Pokemon4,Pokemon5,Pokemon6,LeadPokemon,BattleLength,Outcome,Avg_HP,Avg_Attack,Avg_Special Attack,Avg_Defense,Avg_Special Defense,Avg_Speed
0,gen5ou-1000949555.log,HaxerShouldAllDie,1443,Infernape,Breloom,Tyranitar,Jellicent,Bronzong,Reuniclus,Infernape,24,Loser,85.500000,97.000000,87.000000,91.333333,89.500000,60.333333
1,gen5ou-1000956864.log,HaxerShouldAllDie,1365,Infernape,Breloom,Tyranitar,Jellicent,Bronzong,Reuniclus,Infernape,18,Loser,85.500000,97.000000,87.000000,91.333333,89.500000,60.333333
2,gen5ou-100157536.log,BigBadLeroyBrown,1306,Tyranitar,Alakazam,Latios,Ferrothorn,Landorus-Therian,Excadrill,Tyranitar,31,Winner,84.666667,108.000000,86.000000,94.833333,92.666667,81.666667
3,gen5ou-1001647389.log,testing4g4in,1488,Tyranitar,Amoonguss,Starmie,Alakazam,Heatran,Skarmory,Starmie,22,Loser,80.833333,85.666667,92.666667,97.500000,87.666667,78.833333
4,gen5ou-100171063.log,bossaru2,293,Tyranitar,Stoutland,Forretress,Salamence,Gliscor,Breloom,Breloom,24,Loser,81.666667,114.000000,104.166667,69.166667,77.500000,74.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,gen5ou-996528128.log,phosphor display,1347,Excadrill,Tyranitar,Gastrodon,Tangrowth,Skarmory,Hydreigon,Tangrowth,10,Winner,96.333333,106.166667,98.833333,85.333333,76.166667,67.666667
4996,gen5ou-996530860.log,Machine Gun Dragon,1513,Alakazam,Garchomp,Gastrodon,Skarmory,Tyranitar,Gengar,Gengar,38,Winner,83.166667,90.333333,86.333333,95.333333,82.833333,83.666667
4997,gen5ou-996685781.log,Wishmence2003,1291,Tyranitar,Landorus-Therian,Slowking,Excadrill,Latios,Scizor,Slowking,25,Loser,90.666667,118.166667,86.666667,89.166667,90.833333,74.166667
4998,gen5ou-99696822.log,Level 56,291,Scizor,Latios,Tyranitar,Landorus-Therian,Terrakion,Magnezone,Tyranitar,24,Loser,83.333333,116.333333,97.500000,97.833333,91.666667,82.500000
4999,gen5ou-997600510.log,SkAm NEwToN,1382,Ninetales,Volcarona,Donphan,Jolteon,Dragonite,Gyarados,Donphan,23,Loser,83.166667,96.666667,82.333333,91.000000,93.333333,90.166667